@{
  Layout = "_Layout";
}

@model PierreTreats.Models.Flavor
@using PierreTreats.Models
@using System.Security.Claims

<h1>Flavor details</h1>
<h3>@Html.DisplayFor(model => model.Description)</h3>

<p>Treats of this flavor:</p>
@if (Model.JoinEntities.Count == 0)
{
  <li>There are no treats of this flavor.</li>
}
@foreach(FlavorTreat join in Model.JoinEntities)
{
  <li>@Html.ActionLink($"{join.Treat.Name}", "Details", "Treats", new {id = join.Treat.TreatId})
     @if (User.Identity.IsAuthenticated)
   {
      @using (Html.BeginForm("DeleteTreat","Flavors"))
      {
        @Html.Hidden("joinId", @join.FlavorTreatId)
        <input type ="submit" value="Delete treat" />
      }
   }
   </li>
}
@if(User.Identity.IsAuthenticated)
{
  <ul>
    <li>@Html.ActionLink("Edit flavor details","Edit", new {id = Model.FlavorId })</li>
    <li>@Html.ActionLink("Delete this flavor","Delete", new {id = Model.FlavorId })</li>
    <li>@Html.ActionLink("See all flavors","Index")</li>
  </ul>
}

<hr />
<ul>
  <li>@Html.ActionLink("Home","Index","Home")
</ul> 